.item {
    width: 200px;
    height: 200px;
    background-color: aqua;
    margin: 10px;
    display: block;
}

.item_block {
    width: 100px;
    height: 100px;
    background-color: aquamarine;
    margin: 10px;
}